<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ElecRest</title>
  </head>
  <body>
    <div id="sideNav">
    </div>
    <div id="data">
      <button onClick="addData()">+</button><br />
    </div>
    <div id="request" style="border: 1px solid black">
      <strong><span>Request</span></strong><br />
      <button onClick="addHeader('request')">+</button><br />
      <div id="header">
      </div>
      <select id="method">
        <option>GET</option>
        <option>POST</option>
        <option>PUT</option>
        <option>PATCH</option>
        <option>DELETE</option>
      </select>
      <input id="url" placeholder="URL" />
      <button onClick="Javascript:send('Send');">Send</button><br />
      <textarea id="body" placeholder="body"></textarea>
    </div>
    <div id="response" style="border: 1px solid black">
      <strong><span>Response</span></strong><br />
      <button onClick="addHeader('response')">+</button><br />
      <div id="header">
      </div>
      <div id="status">
      </div>
      <div id="responseBody" style="border: 1px solid black">
      </div>
    </div>
    <script type="text/javascript" src="../../app/scripts/app.js" ></script>
    <script type="text/javascript" src="../../app/assets/Type/Element/Element.js" ></script>
    <script type="text/javascript" src="../../app/assets/Type/Primary/Object/Object.js" ></script>
    <script type="text/javascript" src="../../app/assets/corres/Meta_Element/Meta_Element.js" ></script>
    <script type="text/javascript">
      function  env_dereference( value, data ) {
        var     ret = null,
                ope = "${",
                l_ope = ope.length,
                end = "}",
                l_end = end.length;

        while ((t_pos = value.indexOf(ope)) != -1) {
          var s_b = value.substr(t_pos),
              i_e = s_b.indexOf(end) - l_ope,
              s_c = s_b.substr(l_ope, i_e),
              r = data[s_c];

          if (r) {
            var t_split = value.split("");

            t_split.splice(t_pos, t_pos + i_e + l_ope + l_end, r);
            ret = t_split.join("");
          }
          else
            throw ("Var unknown reference at "+ t_pos +" (\""+ s_b +"\")");
        }

        return (ret);
      }

      var url = document.querySelector('#url');
      url.onkeypress = function(e) {
        e = e || window.event;
        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
        if (charCode == 13) {
          send();
        }
      };
      function send() {
        // Attempt to creat the XHR2 object
        var xhttp;
        try {
          xhttp = new XMLHttpRequest();
        } catch (e) {
          try {
            xhttp = new XDomainRequest();
          } catch (e) {
            try {
              xhttp = new ActiveXObject('Msxml2.XMLHTTP');
            } catch (e) {
              try {
                xhttp = new ActiveXObject('Microsoft.XMLHTTP');
              } catch (e) {
                throw ('Your browser is not compatible with XHR2');
              }
            }
          }
        }
        xhttp.onreadystatechange = function() {
          if (xhttp.readyState == 4) {
            document.querySelector('#status').innerHTML = "Status: "+ xhttp.status;
            document.querySelector('#responseBody').innerHTML = xhttp.responseText;
          }
        };
        var n_data = document.querySelectorAll("#data .pair"),
            l_n_data = n_data.length,
            data = {},
            method = document.querySelector("#method").value,
            url = document.querySelector("#url").value,
            headers = document.querySelectorAll("#request #header .param"),
            l_headers = headers.length,
            body = document.querySelector("#body").value;

        if (!url)
          return ;
        if (url.substr(0, 7) != "http://" && url.substr(0, 8) != "https://")
          url = "http://"+ url;
        console.log(method, url);

        for (var i = 0; i < l_n_data; i++) {
          var n_k = n_data[i].querySelector(".key"),
              n_v = n_data[i].querySelector(".value");

          data[n_k.value] = n_v.value;
          console.log(n_k.value, n_v.value);
        }

        xhttp.open(method, url, true);
        for (var i = 0; i < l_headers; i++) {
          var param = headers[i],
              k = env_dereference(param.querySelector("select").value, data),
              v = env_dereference(param.querySelector("input").value, data),
              t_pos = -1;

          xhttp.setRequestHeader(k, v);
        }
        xhttp.send(body);
      }

      function addData(  ) {
        document.querySelector("#data").appendChilds(createElements(
          {
            'tag': 'span',
            'class':'pair',
            'child': jsonParams(
              {
                "key": null,
                "value": null,
                "remove": null
              },
              {
                "remove": {
                  "tag": "button",
                  "onclick": "javascript:this.parent('div').removeChild(this.parent('.pair'));",
                  "child": "-",
                }
              }
            ).concat([
              {
                'tag': 'br'
              }
            ])
          }
        ));
      }
      function addHeader( target ) {
        document.querySelector("#"+ target +" #header").appendChilds(createElements(
          {
            'tag': 'span',
            'class':'param',
            'child': jsonParams(
              {
                "header": null,
                "parameters": null,
                "remove": null,
              },
              {
                "header": (target == 'request') ? [
                  "Accept-Language",
                  "Content-Type",
                  "Authorization",
                ] : [
                ],
                "remove": {
                  "tag": "button",
                  "onclick": "javascript:this.parent('div').removeChild(this.parent('.param'));",
                  "child": "-",
                }
              }
            ).concat([
              {
                'tag': 'br'
              },
            ])
          }
        ));
      }
    </script>
  </body>
</html>
